apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: openshift-compliance
spec:
  containers:
  - name: extractor
    image: registry.redhat.io/ubi8/ubi:latest
    command: ["/bin/bash", "-c"]
    args:
      - |
        while true; do
          sleep 3600
        done
    volumeMounts:
    - name: results
      mountPath: /results
  volumes:
  - name: results
    persistentVolumeClaim:
      claimName: {{ pvc_name }}
  restartPolicy: Never

