---
- name: "[REPORT] Crear directorio y Guardar TXT"
  block:
    - ansible.builtin.file: { path: "{{ report_dir }}", state: directory }
    - ansible.builtin.template:
        src: report_final.j2
        dest: "{{ report_dir }}/{{ report_file }}.txt"

- name: "[REPORT] Normalizar credenciales desde Environment Variables"
  ansible.builtin.set_fact:
    email_smtp_password: "{{ lookup('env', 'EMAIL_SMTP_PASSWORD') | default(email_smtp_password | default('')) }}"
  when: send_mail | bool

- name: "[REPORT] Enviar por correo"
  community.general.mail:
    host: "{{ smtp_host }}"
    username: "{{ mail_from }}"
    password: "{{ email_smtp_password }}"
    port: 587
    to: "{{ mail_to }}"
    subject: "Reporte Seguridad OpenShift - {{ cluster_name }} - {{date}}"
    body: "{{ lookup('file', report_dir + '/' + report_file + '.txt') }}"
    attach: "{{ report_dir }}/{{ report_file }}.txt"
  when: send_mail | bool
