---
- name: "[INIT] Obtener infraestructura del cluster"
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: Infrastructure
    name: cluster
  register: infra_info

- name: "[INIT] Definir variables de ejecución"
  set_fact:
    cluster_name: "{{ infra_info.resources[0].status.infrastructureName | default('DESCONOCIDO') }}"

# SECCION ENFORCE - APLICACION DE CAMBIOS

- name: "[ENFORCE] Aplicando remediaciones automáticas"
  include_tasks: remediaciones_automaticas_enforce.yaml
  when: "'ALL' in enforce_list or 'remediaciones_automaticas' in enforce_list"

- name: "[ENFORCE] Aplicando timeouts de OAuth"
  include_tasks: 071_oauth_timeouts_enforce.yml
  when: "'ALL' in enforce_list or 'oauth' in enforce_list"


# ENVIO DE REPORTE

- name: "[REPORT] Generar y enviar reporte consolidado"
  include_tasks: 99_send_report.yml