---
- name: Prueba de Conexión AAP -> Hub
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Intentar conectar al Clúster (Usando credencial AAP)
      kubernetes.core.k8s_cluster_info:
      register: resultado_conexion

    - name: Mostrar resultado
      debug:
        msg: 
          - "✅ Conexión Exitosa"
          - "Estamos conectados a la API: {{ resultado_conexion.version.server }}"
          - "Versión de Kubernetes: {{ resultado_conexion.version.gitVersion }}"
